<ion-view>
    <ion-header>
        <div class="bar bar-header bar-dark no-top">
            <div class="buttons">
                <button class="button button-icon ion-ios-arrow-back" nav-direction="back" ng-click="$ionicGoBack(); "></button>
            </div>
            <h1 class="title">APPOINTMENTS</h1>
        </div>
    </ion-header>
<ion-content  class="has-header ak-bg" style="background-color: black;">
<div>
	<div style="width:100%; float:left; padding-top:20px; padding-bottom:20px; margin-left:13px;margin-right:40px; padding-right:20px;">
	<label style="color: #fff; width:70%; float:left;">SELECT CITY</label>
		<div class="list">
    <select id="soflow">
      <option>Jeddah</option>
      <option selected>Riyadh</option>
      <option>Red</option>
    </select>
    <label style="color: #fff; width:70%; margin-top: 60px; float:left;">SELECT BRANCH</label>
    
   <select id="soflow">
      <option>Jeddah</option>
      <option selected>Riyadh</option>
      <option>Red</option>
    </select>  
      <div id="map" data-tap-disabled="true"></div>
	</div>

	 <button class="button button-block button-transparent" style="width:100%; border-radius:0px; float:left; padding-left:20px; padding-right:20px;"> NEXT</button>
</div>
</ion-content>
</ion-view>