<ion-view title="Booking" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="booking-list1" class=" ">
            <ion-item class="item-thumbnail-left  " id="booking-list-item1">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="booking-list-item2">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="booking-list-item3">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="booking-list-item4">
                <h2>Item</h2>
            </ion-item>
        </ion-list>
        <button id="booking-button1" style="border-radius:-8px -8px -8px -8px;" class=" button button-assertive  button-block ">BOOK APOINTMENT</button>
    </ion-content>
</ion-view>