<ion-view title="APPOINTMENTS" view-title="APPOINTMENTS">
    <ion-header>
        <div class="bar bar-header bar-dark">
            <h1 class="title">APPOINTMENTS</h1>
        </div>
    </ion-header>
    <ion-content padding="true" class="has-header ak-bg" style="background-color: black;">
        <!--         <ion-list id="booking-list1" class=" ">
            <ion-item class="item-thumbnail-left  " id="booking-list-item1">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="booking-list-item2">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="booking-list-item3">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="booking-list-item4">
                <h2>Item</h2>
            </ion-item>
        </ion-list> -->
        <div class="list">
            <a class="item item-thumbnail-left" href="#">
                <img src="cover.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
                        <a class="item item-thumbnail-left" href="#">
                <img src="cover.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
                        <a class="item item-thumbnail-left" href="#">
                <img src="cover.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
                        <a class="item item-thumbnail-left" href="#">
                <img src="cover.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
        </div>
        <!--         <button id="booking-button1" style="border-radius:-8px -8px -8px -8px;" class=" button button-assertive  button-block ">BOOK APOINTMENT</button> -->
    </ion-content>
    <ion-footer>
        <div class="bar bar-footer bar-balanced">
            <div class="title">BOOK APPOINTMENT</div>
        </div>
    </ion-footer>
</ion-view>
