<ion-content class="ak-bg">

    <div class="div1">This div is smaller (width is 300px and height is 100px).
<p class="abt-p"></p>
<div class="icon-add">ADDRESS</div>
<p>8030 AI-Madinah AI-Munawarah Rd, District Rawdah Jeddah 23434 4786 </p>

<div>
 920002108 
 Sales@autoksa.com
 www.autoksa.com 
</div>

<P class="abt-p">Monday    = 08:OOam - 06:OOpm</p> 
<p>Tuesday   = 08:OOam - 06:OOpm</p>
<p>Wednesday = 08:OOam - 06:OOpm</p> 
<p>Thursday  = 08:OOam - 06:OOpm</p> 
<p>Friday    = Closed </p>
<p>Saturday  = 08:OOam - 06:OOpm</p>
<p>Sunday    = 08:OOam - 06:OOpm</p> 

</div>
</ion-content>