<ion-content class="ak-bg">

    <div class="div1">

<p class="ak-content">8030 AI-Madinah AI-Munawarah Rd, District </p>
<p class="ak-content" >Rawdah Jeddah 23434 4786</p>
<p class="ak-content">_____________________________________________________________</p>

<div class="blk-content">
    

    

  
 <!--Sales@autoksa.com
 www.autoksa.com 
 -->
</div>

<p class="ak-content">_____________________________________________________________</p>
</br>
<P class="ak-content">Monday    = 08:OOam - 06:OOpm</p> 
<p class="ak-content">Tuesday   = 08:OOam - 06:OOpm</p>
<p class="ak-content">Wednesday = 08:OOam - 06:OOpm</p> 
<p class="ak-content">Thursday  = 08:OOam - 06:OOpm</p> 
<p class="ak-content">Friday    = Closed </p>
<p class="ak-content">Saturday  = 08:OOam - 06:OOpm</p>
<p class="ak-content">Sunday    = 08:OOam - 06:OOpm</p> 

</div>
</ion-content>