	<ion-content style="
	background-image: url('../img/background2.png');background-size: contain ;
	background-repeat: repeat-y;">

	<div style="height:70px;">
		<div style="width:80%; float:left; padding-top:20px; padding-bottom:20px; margin-left:13px;margin-right:40px; padding-right:20px;">
			<label style="font-weight: bold; color: #fff; width:70%; float:left;">ADDRESS</label>
		</div>
	</div>
	<div class="d">
		
<div class="card" style="border-radius:8px;" ng-repeat="x in [1,2,3,4]">
<div class="row " style="background-color:red; color:#fff; margin-top:-1px;"> <label class="ion-arrow-right-b" style="margin-right:15px; margin-left:15px;"></label>WINDOW TINTING</div>

  <div class="item item-text-wrap" style="padding-left:5px; padding-top:5px;">
  <img src="../img/settings_car_white.png" class="lg-sv-icons"/>
    <p>This is a basic Card which contains an item that has wrapping text.</p>
  <button class="button" style="float:right;min-height:35px ;margin-top: 8px; margin-bottom: 2px; line-height: 24px ; background-color:#d6d7d7; color: black;">
  READ MORE
</button>
  </div>
</div>
<div class="card" style="border-radius:8px;">
<div class="row "  style="background-color:#333333; color:#fff; margin-top:-1px;"> <label class="ion-arrow-right-b" style="margin-right:15px; margin-left:15px;"></label>WINDOW TINTING</div>

  <div class="item item-text-wrap" style="padding-left:5px; padding-top:5px;">
  <img src="../img/settings_car_golden.png" class="lg-sv-icons"/>
    <p>This is a basic Card which contains an item that has wrapping text.</p>
  <button class="button" style="float:right;min-height:35px ;margin-top: 8px; margin-bottom: 2px; line-height: 24px ; background-color:#d6d7d7; color: black;">
  READ MORE
</button>
  </div>
</div>
<div class="card" style="border-radius:8px;">
<div class="row " style="background-color:#0000ff; color:#fff; margin-top:-1px;"> <label class="ion-arrow-right-b" style="margin-right:15px; margin-left:15px;"></label>WINDOW TINTING</div>

  <div class="item item-text-wrap" style="padding-left:5px; padding-top:5px;">
  <img src="../img/settings_car_red.png" class="lg-sv-icons"/>
    <p>This is a basic Card which contains an item that has wrapping text.</p>
  <button class="button" style="float:right;min-height:35px ;margin-top: 8px; margin-bottom: 2px; line-height: 24px ; background-color:#d6d7d7; color: black;">
  READ MORE
</button>
  </div>
</div>
	</div>



	</div>
	</ion-content>