<ion-view title="History">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-ios-arrow-back" style="color: white;" nav-direction="back" ng-click="$ionicGoBack(); "></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon" style="color: white;"></button>
    </ion-nav-buttons>
    <ion-content class="has-header ak-bg" style="background-color: black;">
    <div style="width: 100%; height: 100%; position: relative;">
        <div ng-repeat="x in [1,2,3,4,5,6,7,8,9,10]" style="color: white;
    /* margin-left: 10%; */
    /* margin-top: 20px; */
    font-size: large;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: thin;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-top: 20px;">
            January 2016<span style="margin-left: 10%;
">
    			<input type="button" name="SAR 120" value="SAR 1,200.00" style="    background-color: red;
    border-color: red;
    color: white;
    width: 40%;
    height: 40px;
    font-size: initial;">
    	</span> <span style=" margin-left: 5%;
"><i class="ion-chevron-right"></i></span>
        </div>
        </div>
    </ion-content>
</ion-view>
