
<ion-view>
    <ion-content class="ak-bg ak-bg-black">
        <div>
            <div class="logo-header ak-mt-50"></div>
            <div class="padding .ak-pt-20">
                <div class="ak-icon">
                    <img src="img/profile_small_icon.png" class="lg-icons" />
                    <input type="text" ng-model="user.username" class="ak-color-white ak-float-left" style="width:70%;" placeholder="+966" />
                </div>
                <div class="ak-icon">
                    <img src="img/password_icon.png" class="lg-icons" />
                    <input type="password" ng-model="user.password" class="ak-color-white ak-float-left" style="width:70%;">
                </div>
            </div>
            <div class="padding">
                <button class="button button-block button-transparent" style="width:80%; border-radius:0px; float:left;  margin-left:40px;margin-right:40px; padding-left:20px; padding-right:20px;" ng-click="login(user)"> LOGIN </button>
                <!-- <center style="color: #fff; margin: auto; width: 60%; padding: 10px;">OR</center> -->
                <button ui-sref="register" class="button button-block button-transparent" style="width:80%; border-radius:0px; float:left;  margin-left:40px;margin-right:40px; padding-left:20px; padding-right:20px;"> SIGN UP </button>
            </div>
        </div>
        <!--<h1>{{user}}</h1>
            <p>{{list}}</p>-->
    </ion-content>
</ion-view>
