<ion-view>
    <ion-header>
        <div class="bar bar-header bar-dark no-top">
            <div class="buttons">
                <button class="button button-icon ion-ios-arrow-back" nav-direction="back" ng-click="$ionicGoBack(); "></button>
            </div>
            <h1 class="title">LOCATION</h1>
        </div>
    </ion-header>
<ion-content class="has-header ak-bg" style="background-color: black;">
<div class="list" style="text-align: center">
    <select id="soflow">
      <option>Jeddah</option>
      <option selected>Riyadh</option>
      <option>Red</option>
    </select>
    
   <select id="soflow">
      <option>Jeddah</option>
      <option selected>Riyadh</option>
      <option>Red</option>
    </select>  
      
</ion-content>
</ion-view>
