<style type="text/css">
#container {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;
}

#innerContainer {
    width: 100%;
    height: 32%;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
}

#sidecontainer1 {
    width: 49.6%;
    height: 16.8%;
    background: #66f;
    position: absolute;
    top: 32%;
    left: 0.2%;
}

#leftcontainer1 {
    width: 49.8%;
    height: 16.8%;
    background: #66f;
    position: absolute;
    top: 32%;
    left: 50%;
}

#sidecontainer2 {
    width: 49.6%;
    height: 16.7%;
    background: #66f;
    position: absolute;
    top: 49%;
    left: 0.2%;
}

#leftcontainer2 {
    width: 49.8%;
    height: 16.7%;
    background: #66f;
    position: absolute;
    top: 49%;
    left: 50%;
}

#sidecontainer3 {
    width: 49.6%;
    height: 16.9%;
    background: #66f;
    position: absolute;
    top: 66%;
    left: 0.2%;
}

#leftcontainer3 {
    width: 49.8%;
    height: 16.9%;
    background: #66f;
    position: absolute;
    top: 66%;
    left: 50%;
}

#sidecontainer4 {
    width: 49.6%;
    height: 16.7%;
    background: #66f;
    position: absolute;
    top: 83%;
    left: 0.2%;
}

#leftcontainer4 {
    width: 49.8%;
    height: 16.7%;
    background: #66f;
    position: absolute;
    top: 83%;
    left: 50%;
}

#text {
    z-index: 100;
    position: absolute;
    top: 80%;
    width: 100%;
}

#text2 {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 25px;
    left: 25%;
    text-align: center;
    top: 80%;
}

#text1 {
    z-index: 100;
    position: absolute;
    color: black;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    top: 80%;
}

.ava {
    border-width: 0px;
}
</style>
<ion-view hide-nav-bar="true">
    <ion-header>
        <div class="bar bar-header" style="background: transparent;">
            <button ui-sref="app.notifications" class="button icon ion-ios-bell"></button>
            <img src="img/autotek_logo.png" style="width: 20%; margin-left: 30%;">
            <!--  <h1>ABC</h1> -->
            <button  class="button icon ion-gear-a" style="margin-left:30%;"></button>
        </div>
    </ion-header>
    <ion-content class="ak-bg" scroll="false">
        <div id="container" class="ak-bg">
            <div id="innerContainer">
                <img src="img/background4.png" style="width: 100%; max-height: 100%;">
                <div class="item item-avatar ava" style="background:transparent; width: 100%; position: absolute; top: 30%; height: 50%; ">
                    <img src="img/profileicon.png" style="left: 38%; max-height: 70%; max-width: 20%;">
                </div>
                <div style="position: absolute; top: 80%; width: 100%;">
                    <p style="text-align:center; color: white; font-size: x-large;">
                        {{user.FirstName}} {{user.LastName}}
                    </p>
                </div>
            </div>
            <div id="sidecontainer1">
                <a ui-sref="app.booking">
                    <img src="img/appointment2.png" style="width: 100%; height: 100%;">
                    <div id="text">
                        <p style="text-align: center; color: black; ">
                            APPOINTMENT
                        </p>
                    </div>
                </a>
            </div>
            <div id="leftcontainer1">
                <a ui-sref="promotions">
                    <img src="img/promotions2.png" style="width: 100%; height: 100%;">
                    <div id="text">
                        <p style="text-align: center; color: black;">
                            PROMOTION
                        </p>
                    </div>
                </a>
            </div>
            <div id="sidecontainer2">
                <a ui-sref="location">
                    <img src="img/location2.png" style="width: 100%; height: 100%;">
                    <div id="text">
                        <p style="text-align: center; color: black;">
                            OUR LOCATION
                        </p>
                    </div>
                </a>
            </div>
            <div id="leftcontainer2">
                <a ui-sref="promotion">
                    <img src="img/freeservice2.png" style="width: 100%; height: 100%;">
                    <div id="text">
                        <p style="text-align: center; color: black;">
                            FREE SERVICES
                        </p>
                    </div>
                </a>
            </div>
            <div id="sidecontainer3">
                <a ui-sref="services">
                    <img src="img/services2.png" style="width: 100%; height: 100%;">
                    <div id="text">
                        <p style="text-align: center; color: black;">
                            SERVICES
                        </p>
                    </div>
                </a>
            </div>
            <div id="leftcontainer3">
                <a ui-sref="history">
                    <img src="img/history2.png" style="width: 100%; height: 100%;">
                    <div id="text">
                        <p style="text-align: center; color: black;">
                            HISTORY
                        </p>
                    </div>
                </a>
            </div>
            <div id="sidecontainer4">
                <a ui-sref="about">
                    <img src="img/aboutus2.png" style="width: 100%; height: 100%;">
                    <div id="text">
                        <p style="text-align: center; color: black;">
                            ABOUT US
                        </p>
                    </div>
                </a>
            </div>
            <div id="leftcontainer4">
                <a ui-sref="contact">
                    <img src="img/contactus2.png" style="width: 100%; height: 100%;">
                    <div id="text">
                        <p style="text-align: center; color: black;">
                            CONTACT
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
