<style type="text/css">
    .salestat-main {
        position: relative; margin-top: 0px;  padding-bottom: 3%;   background-color: rgba(255,255,255,0.1);     height: 260px; border-bottom-color: white; border-bottom-style: solid; border-bottom-width: thin;
    }

    .salestat-refer {
        top: 60px; width: 40%; left: 5%; height:30px;background-color: black; position: absolute;
    }

    .salestat-refer-txt {
        color: white; text-align: center; font-size: 12px;     margin-top: 3%;
    }

    .salestat-refer-num {
        top:90px; left: 5%; height: 90px; background-color: white; width: 40%; position: absolute;
    }
    .salestat-refer-numtxt {
        color: black; font-size: 72px; text-align: center; margin-top: 30px
    }

    .salestat-convert {
        top: 60px; width: 40%; left: 50%; height: 30px;background-color: red; position: absolute;
    }

    .salestat-convet-txt {
        color: white; text-align: center; font-size: 12px;     margin-top: 3%;
    }

    .salestat-convert-num {
        top:90px; left: 50%; height: 90px; background-color: white; width: 40%;position: absolute;
    }

    .salestat-convert-numtxt {
        color: red; font-size: 72px; text-align: center; margin-top: 30px
    }

    .salestat-comm {
        top: 200px; color: white; position: absolute; left: 6%; font-size:20px
    }

    .salestat-commtxt {
        top: 200px; color: white; position: absolute; left: 55%; font-size: 30px;
    }

    .salestat-lifemain {
        position: relative; margin-top: 0px;  padding-bottom: 3%;   background-color: rgba(255,255,255,0.1);  border-bottom-color: white; border-bottom-style: solid; border-bottom-width: thin;
    }

    .salestat-life-ref {
        margin-top: 25px; width: 90%; left: 5%; height:40px;background-color: black; position: relative;
    }

    .salestat-life-reftxt {
        color: white;text-align: center; font-size: 18px;padding-top: 3%; font-weight: bold;
    }

    .salestat-life-earn {
        margin-top: 25px; width: 90%; left: 5%; height:40px;background-color: red; position: relative;
    }

    .salestat-life-earntxt {
           color: white;
    text-align: center;
    font-size: 18px;
    padding-top: 3%;
    font-weight: bold;
    }
</style>
<ion-view title="SALES STATS">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-ios-arrow-back" style="color: white;" nav-direction="back" ng-click="$ionicGoBack(); "></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon" style="color: white;"></button>
    </ion-nav-buttons>
    <ion-content class="has-header ak-bg ak-bg-black">
        <div class="salestat-main">
            <select id="soflow" ng-options="option.Name for option in opt.availableOptions track by option.Id" ng-model="opt.selectedOption" style="background-color: white;color: black;width: 100%;" ng-change="hasChanged()">
            </select>
            <div class="salestat-refer">
                <p class="salestat-refer-txt">CUSTOMER REFERRED</p>
            </div>
            <div class="salestat-refer-num">
                <p class="salestat-refer-numtxt">9</p>
            </div>
            <div class="salestat-convert">
                <p class="salestat-convet-txt">CONVERTION</p>
            </div>
            <div class="salestat-convert-num">
                <p class="salestat-convert-numtxt">3</p>
            </div>
            <div class="salestat-comm">
                COMMISSION <span><i class="ion-arrow-right-a"></i></span>
            </div>
            <div class="salestat-commtxt">
                300 SAR
            </div>
        </div>
        <div class="salestat-lifemain">
            <select id="soflow" ng-options="option.Name for option in opt.availableOptions track by option.Id" ng-model="opt.selectedOption" style="background-color: white;color: black;width: 100%;" ng-change="hasChanged()">
            </select>
            <div class="salestat-life-ref">
                <p class="salestat-life-reftxt ">LIFETIME REFERRALS</p>
            </div>
            <div style="left: 5%; height: 90px; background-color: white; width: 90%; position: relative;">
            </div>
            <div class="salestat-life-earn">
                <p class="salestat-life-earntxt ">LIFETIME EARNINGS</p>
            </div>
            <div style="left: 5%; height: 90px; background-color: white; width: 90%; position: relative;">
            </div>
        </div>
    </ion-content>
</ion-view>
