<style type="text/css">
    .readmore-btn {
        box-shadow:0px 0px 1px #888888; float:right;min-height:35px ;margin-top: 8px; margin-bottom: 2px; line-height: 24px ; background-color:#d6d7d7; color: black;
    }
</style>
<ion-view>
    <ion-header>
        <div class="bar bar-header bar-dark no-top">
            <div class="buttons">
                <button class="button button-icon ion-ios-arrow-back" nav-direction="back" ng-click="$ionicGoBack(); "></button>
            </div>
            <h1 class="title">SERVICES</h1>
        </div>
    </ion-header>
    <ion-content class="has-header ak-bg ak-bg-black">
        <div class="d">
            <div class="card" style="border-radius:8px;">
                <div class="row " style="background-color:red; color:#fff; margin-top:-1px;">
                    <label class="ion-arrow-right-b" style="margin-right:15px; margin-left:15px;"></label>WINDOW TINTING</div>
                <div class="item item-text-wrap" style="padding-left:5px; padding-top:5px;">
                    <img src="img/settings_car_white.png" class="lg-sv-icons" />
                    <p>This is a basic Card which contains an item that has wrapping text.</p>
                    <button class="button readmore-btn">
                        READ MORE >
                    </button>
                </div>
            </div>
            <div class="card" style="border-radius:8px;">
                <div class="row " style="background-color:#333333; color:#fff; margin-top:-1px;">
                    <label class="ion-arrow-right-b" style="margin-right:15px; margin-left:15px;"></label>WINDOW TINTING</div>
                <div class="item item-text-wrap" style="padding-left:5px; padding-top:5px;">
                    <img src="img/settings_car_golden.png" class="lg-sv-icons" />
                    <p>This is a basic Card which contains an item that has wrapping text.</p>
                    <button class="button readmore-btn">
                        READ MORE >
                    </button>
                </div>
            </div>
            <div class="card" style="border-radius:8px;">
                <div class="row " style="background-color:#0000ff; color:#fff; margin-top:-1px;">
                    <label class="ion-arrow-right-b" style="margin-right:15px; margin-left:15px;"></label>WINDOW TINTING</div>
                <div class="item item-text-wrap" style="padding-left:5px; padding-top:5px;">
                    <img src="img/settings_car_red.png" class="lg-sv-icons" />
                    <p>This is a basic Card which contains an item that has wrapping text.</p>
                    <button class="button readmore-btn">
                        READ MORE >
                    </button>
                </div>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>
