<style type="text/css">
.promocontainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.nextoffer {
    position: relative;
    width: 95%;
    left: 2.5%;
    /* height: 250px; */
    top: 10px;
    background-color: white;
    padding: 5px 0px 5px 0px;
    margin-bottom: 5px;
}

.nextofferheader {
    position: relative;
    /* top: 5px; */
    background-color: green;
    width: 95%;
    height: 50px;
    left: 2.5%;
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
    margin-bottom: 5px;
    line-height: 25px;
}

.nobox {
    position: relative;
    /* top: 4%; */
    width: 95%;
    /* height: 90%; */
    margin-left: 2.5%;
    margin-top: -2%;
    background-color: darkseagreen;
}

.nodottedbox {
    position: relative;
    width: 90%;
    /* height: 100%; */
    margin-left: 5%;
    border-style: dashed;
    border-color: darkseagreen;
    border-width: initial;
    padding-bottom: 1%;
}

.box {
    position: relative;
}

.boxcolor2 {
    background-color: orange;
}

.dottedbox2 {
    background-color: rgba(247, 184, 123, 0.89);
}

.dottedboxborder2 {
    border-color: rgba(247, 184, 123, 0.89);
}

.boxcolor3 {
    background-color: #4d4f4d;
}

.dottedbox3 {
    background-color: #cdd0cd;
}

.dottedboxborder3 {
    border-color: #cdd0cd;
}

.heading {
    position: relative;
    padding: 12px 30px 0px 0px;
    font-size: 16px;
    color: white;
    font-weight: 600;
    float: right;
}

.offertitle {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
}

.offercontent {
    margin-left: 10px;
}
#demo {
        margin: 30px 0 50px 0;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    }
#demo .wrapper {
        display: inline-block;
        width: 180px;
        margin: 0 10px 0 0;
        height: 20px;
        position: relative;
    }
    
#demo .parent {
        height: 100%;
        width: 100%;
        display: block;
        cursor: pointer;
        line-height: 30px;
        height: 30px;
        
        background: green;
        border: 1px solid #AAA;
        color: #282D31;
        font-weight: bold;
        z-index: 2;
        position: relative;
        -webkit-transition: border-radius .1s linear, background .1s linear, z-index 0s linear;
        -webkit-transition-delay: .8s;
        text-align: center;
    }
    
#demo .parent:hover, 
#demo .content:hover ~ .parent {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        z-index: 0;
    }
    
#demo .content {
        position: absolute;
        top: 0;
        display: block;
        z-index: 1;
        height: 0;
        width: 180px;
        padding-top: 30px;
        -webkit-transition: height .5s ease;
        -webkit-transition-delay: .4s;
        border: 1px solid #777;
        border-radius: 5px;
        
    }
    
#demo .wrapper:active .content {
        height: 123px;
        z-index: 3;
        -webkit-transition-delay: 0s;
    }
    
#demo .content:hover {
        height: 123px;
        z-index: 3;
        -webkit-transition-delay: 0s;
    }
    
    
#demo .content ul {
        background: #fff;
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
#demo .content ul a {
        text-decoration: none;
    }
    
#demo .content li:hover {
        background: #eee;
        color: #333;
    }
#demo .content li {
        list-style: none;
        text-align: left;
        color: #888;
        font-size: 14px;
        line-height: 30px;
        height: 30px;
        padding-left: 10px;
        border-top: 1px solid #ccc;
    }
    
#demo .content li:last-of-type {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
</style>
<ion-view>
    <ion-header>
        <div class="bar bar-header bar-dark no-top">
            <div class="buttons">
                <button class="button button-icon ion-ios-arrow-back" nav-direction="back" ng-click="$ionicGoBack(); "></button>
            </div>
            <h1 class="title">الترقيات</h1>
        </div>
    </ion-header>
    <ion-content class="has-header ak-bg" style="background-color: black;">
        <div class="promocontainer">
            <div class="nextoffer">
                <div class="nextofferheader">
                    <div class="heading"> العروض القادمة <i class="ion-arrow-left-b"></i></div>
                </div>
                <div ng-repeat="x in [1,2]" class="box" style="/*width: 100%; height: 72%; top: 25%; position: relative;*/">
                    <div class="nodottedbox">
                        <div class="nobox">
                            <div class="offertitle">لقبنا
                            </div>
                            <div class="offercontent">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nextoffer">
                <div class="nextofferheader boxcolor2">
                    <div class="heading"> العروض حصل <i class="ion-arrow-left-b"></i></div>
                </div>
                <div ng-repeat="x in [1,2]" class="box" style="/*width: 100%; height: 72%; top: 25%; position: relative;*/">
                    <div class="nodottedbox dottedboxborder2">
                        <div class="nobox dottedbox2">
                            <div class="offertitle">لقبنا
                            </div>
                            <div class="offercontent">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            </div>
                        </div>
                    </div>
                </div>   <!--eidt-->
             
            </div>
            <div class="nextoffer">
                <div class="nextofferheader boxcolor3">
                    <div class="heading">العروض المستهلكة <i class="ion-arrow-left-b"></i></div>
                </div>
                <div ng-repeat="x in [1,2]" class="box" style="/*width: 100%; height: 72%; top: 25%; position: relative;*/">
                    <div class="nodottedbox dottedboxborder3">
                        <div class="nobox dottedbox3">
                            <div class="offertitle">لقبنا
                            </div>
                            <div class="offercontent">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>
